

---
<h1>Uzdevumi ar string</h1>

<h4>1. Izveidot string tipa mainigo ar jebkādu vērtību un izvadīt šo pašu vērtību, kur visi simboli ir ar mazo burtu</h4>

In [2]:
a = "VēRtīBa"
print(a.lower())

vērtība

<h4> 2. Izveidot string tipa mainigo ar jebkādu vērtību un izvadīt šo pašu vērtību, kur visi simboli ir ar lielo burtu </h4>

In [3]:
a = "vērtība"
print(a.upper())

VĒRTĪBA

<h4> 3. Izveidot string tipa mainigo ar jebkādu vērtību un izvadīt tā garumu </h4>

In [21]:
a = "vērtība"
print(len(a))

7

<h4> 4. Izveidot string tipa mainīgo ar vērtību "Ventspils Augstskola" un izvadīt vērtības "A" indeksu </h4>

In [23]:
a = "Ventspils Augstskola"
index = 0
for i in a:
  if (i == "A"):
    print("Indekss: ", index)
  index = index + 1

Indekss:  10

<h4> 5. Izveidot string tipa mainīgo ar vērtību "Ventspils Augstskola", aizvietot "Augstskola" ar vērtību "University" un izvadīt to </h4>

In [22]:
a = "Ventspils Augstskola"
print(a.replace("Augstskola", "University"))

Ventspils University

<h4> 6. Izveidot string tipa mainīgo ar vērtību "Ventspils Augstskola" un izvadīt tikai vērtību Augstskola </h4>

In [29]:
a = "Ventspils Augstskola"
print(a[10:20])

Augstskola



---

<h1> Uzdevumi ar cipariem (Int, Float) </h4>

<h4> 1. Izveidot divus int tipa mainīgos ar vērtībām 10 un 5. Veikt saskaitīšanas, atņemšanas, reizināšanas, dalīšanas un kāpināšanas operācijas </h4>

In [35]:
a = 10
b = 5

print(a, "+", b, " = ", a + b)
print(a, "-", b, " = ", a - b)
print(a, "*", b, " = ", a * b)
print(a, "/", b, " = ", a / b)

10 + 5  =  15
10 - 5  =  5
10 * 5  =  50
10 / 5  =  2.0

<h4> 2. Izveidot vienu int tipa mainīgo ar vērtību 4 un vienu float tipa mainigo ar vērtību 4.7. Saskaitīt abus mainīgos un izvadīt noapaļotu šī skaitļa vērtību </h4>

In [38]:
a = 4
b = 4.7

print(a, "+", b, " = ", round(a + b))

4 + 4.7  =  9

<h4> 3. Izveidot vienu int tipa mainīgo ar vērtību 4 un vienu float tipa mainigo ar vērtību 1.1. Atņemt abus mainīgos un izvadīt noapaļotu mazāko veselo skaitli no rezultāta </h4>

In [41]:
import math

a = 4
b = 1.1

print(a, "-", b, " = ", math.floor(a - b))

4 - 1.1  =  2

<h4> 4. Izveidot vienu int tipa mainigo ar vērtību 9 un vienu float tipa mainigo ar vērtību 6.4. Sareizinat abus mainīgos un izvadīt noapaļotu augstāko veselo skaitli no rezultāta </h4>

In [44]:
a = 9
b = 6.4

print(a, "*", b, " = ", round(a * b))

9 * 6.4  =  58

<h4> 5. Izveidot divus int tipa mainigos ar vērtībām 4 un 16. Sareizināt abus skaitļus un izvadīt kvadrātsakni no rezultāta </h4>

In [48]:
import math

a = 4
b = 16

print("√(", a, "*", b, ") = ", math.sqrt(a*b))

√( 4 * 16 ) =  8.0

<h4>6. Ir dota sekojoša formula </h4>

\begin{align}
x=x_0 + v_0t + \frac{a_xt^2}{2}
\end{align}


<h4> Izveidojot mainīgos ar pašizdomātām vērtībām, pārrakstīt formulu python sintaksē un izvadīt $x$ </h4>

In [51]:
import math

x0 = int(input("Input x0 value: "))
v0 = int(input("Input v0 value: "))
t = int(input("Input t value: "))
ax = int(input("Input ax value: "))

print("x = ", x0 + v0 * t + ax * math.pow(t, 2) / 2)

Input x0 value: 5
Input v0 value: 6
Input t value: 3
Input ax value: 8
x =  59.0