<h4> 1.Izveidot string tipa mainigo ar vērtību "VenTsPiLS AuGSTkola" un izvadīt šo pašu vērtību, kur visi simboli ir ar mazo burtu </h4>

In [1]:
a = "VenTsPiLS AuGSTkola"

print(a.lower())

ventspils augstkola

<h4> 2. Izveidot string tipa mainīgo ar vērtību "University of British Columbia" un izvadīt tikai vērtību "British" no izveidotā mainīgā (Izmantot kādu no funkcijām (index, find) un neskaitīt atrašanās vietu manuāli)</h4>

In [19]:
a = "University of British Columbia"
matching_word = ""

for i in range(a.find("B"), (a.find("h") + 1)):
  matching_word = matching_word + a[i]
print(matching_word)

British

<h3> 3. Izveidot divus int tipa mainigos ar vērtībām 15 un 25. Sareizināt abus skaitļus un izvadīt kvadrātsakni no rezultāta </h3>

In [20]:
import math

a = 15
b = 25

print(math.sqrt(a * b))

19.364916731037084

<h4> 4. Likt lietotājam ievadīt atbildi uz jautājumu "Do you agree?", ja lietotājs atbild ar, piemēram, 'yes' izvadīt, ka lietotājs piekrīt, ja lietotājs atbild ar 'no', izvadīt, ka nepiekrīt.

BONUS: izveidot tā, ka atbildes kā 'YeS','YES','yES', utt nostrādātu gan pie piekrišanas, gan nepiekrišanas 'nO','NO','No'</h4>

In [25]:
a = input("Do you agree? ")

if a.lower() == "yes":
  print("You agreed!")
elif(a.lower() == "no"):
  print("You disagreed!")

Do you agree? YeS
You agreed!

<h4>5. Likt lietotājam ievadīt 2 skaitļus un pārbaudīt vai tie NAV vienādi. Ja tie nav vienādi izvadīt rezultātu, ka tie nav vienādi, citā gadījumā izvadīt, ka tie ir vienādi</h4>

In [28]:
a = input("First number: ")
b = input("Second number: ")

if(a == b):
  print("Provided numbers match!")
else:
  print("Provided numbers don't match!")

First number: 5
Second number: 6
Provided numbers don't match!

<h4> 6. Likt lietotājam ievadīt skaitli no 1-100 un izvadīt, kāda ir iegūtā atzīme no šī skaitli </h4>
90 - 100 = A

80 - 89 = B

70 - 79 = C

60 - 69 = D

1-59 = F

In [37]:
a = int(input("Provide an number ranging from 1 - 100: "))

if(a <= 100 and a > 0):
  if(a >= 1 and a <=59):
    print("F")
  elif(a >= 60 and a <=69):
    print("D")
  elif(a >= 70 and a <=79):
    print("C")
  elif(a >= 80 and a <=89):
    print("B")
  elif(a >= 90 and a <=100):
    print("A")
else:
  print("Provided number doesn't fit the range")

Provide an number ranging from 1 - 100: 101
Provided number doesn't fit the range

<h4> 7. Likt lietotājam ievadīt jebkādu skaitli, pēc tam izvadīt, vai tas ir pāra vai nepāra skaitlis </h4>

In [44]:
a = int(input("Provide an number: "))

if(a % 2) == 0:
  print("Number:", a, "Is Even")
else:
  print("Number:", a, "Is Odd")

Provide an number: 15
Number: 15 Is Odd

<h4>8. Uztaisīt while ciklu, kurš atkārtojas līdz lietotāja ievadītam skaitlim. Saskaitīt cik reizes šajā ciklā parādas skaitļi, kurus var izdalīt ar 3 bez atlikuma un šo skaitu izvadīt</h4>

In [65]:
a = int(input("Provide an number: "))
num = 1
possibilities = 0

while(num <= a):
  if num % 3 == 0:
    possibilities = possibilities + 1
  num = num + 1
print("You can divide ", a, " by three ", possibilities, " times.")

Provide an number: 72
You can divide  72  by three  24  times.

<h4>9. Izveidot metamkauliņu spēli, kur spēle un lietotājs met divus kauliņus un to uzdevums ir sasniegt 100 vai vairāk punktu vērtību.</h4>

Spēles gaita:
 1. spēle un lietotājs sāk spēli ar 0 punktiem
 2. Gan lietotājs, gan spēlētājs uzmet divus metamos kauliņus (izmantojot funkciju random.randint() https://www.w3schools.com/python/ref_random_randint.asp)
 3. Saskaita abu metamo kauliņu summu un pieskaita to attiecīgajiem punktiem
 4. Kamēr lietotājs vai spēle nav sasnieguši 100 punktus, spēle turpinās

Izvadīt spēles rezultātu, kurš uzvarēja un kādi ir bijuši punktu skaiti katrā gājienā

In [78]:
import random

user_score = 0
game_score = 0
user_score_history = []
game_score_history = []

while(user_score < 100 and game_score < 100):
  user_score = user_score + random.randint(1, 12)
  user_score_history.append(user_score)

  game_score = game_score + random.randint(1, 12)
  game_score_history.append(game_score)

if(game_score > user_score):
  print("Game won!")
elif(game_score < user_score):
  print("User won!")
else:
  print("Draw!")

print("")
print("Games score: ", game_score)
print("Users score: ", user_score)

print("")
print("Score History (Move By Move):")
print("Users Score: ", user_score_history)
print("Games Score: ", game_score_history)

User won!

Games score:  87
Users score:  105

Score History (Move By Move):
Users Score:  [5, 15, 24, 36, 48, 54, 57, 68, 79, 80, 89, 96, 97, 105]
Games Score:  [9, 18, 20, 29, 31, 42, 44, 53, 59, 67, 73, 78, 83, 87]